<style>
    .message-content {
      font-family: Arial, Helvetica, sans-serif;
      max-width: 600px;
      font-size: 18px;
      line-height: 21px;
    }
  </style>
  
  <div class="message-content">
    <p>Olá, {{name}}</p>
    <p>Obrigado por se cadastra na nossa plataforma.</p>
    <p>Para ativar a sua conta basta clicar ou copia o link logo abaixo:</p>
    <p>
      <a href="{{link}}">Ativar conta</a>
    </p>
  
    <p>Se você não conseguir ativar entre em conta conosco.</p>
    <p>
      Obrigado! <br />
      <strong>Equipe {{team}}</strong>
    </p>
  </div>